{% extends "df_goods/base.html"%}

{%block head%}
<script>

	$(function () {
	    var num = $('.num_show')
		var add = $('.add')
		var sul = $('.minus')
		var price = $('.show_pirze > em')
		var total= $('.total > em')
		var kucun = $('#kucun')

		add.click(function () {
		    if (kucun.val()-0 > num.val()-0 ){
		        num.val(parseInt(num.val())+1)
				caladata()
			}

        })

		sul.click(function () {
			if (num.val()-0 >= 1){
			    num.val(parseInt(num.val())-1)}
			caladata()
        })

		num.keyup(function () {
		    if ($.isNumeric(num.val()) ){
		        if(num.val()-0 < 1){
			    num.val('')
				}
				if (kucun.val()-0 < num.val()-0 ){
					num.val(parseInt(kucun.val()))
				}
				caladata();
			}else {
		        num.val('')
			}

        })


		function caladata() {

			total.text(parseFloat(parseFloat(price.text()) * parseInt(num.val())).toFixed(2))
    }
    })




</script>

{%endblock head%}

{%block detail2%}

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{good.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{good.gtitle}}</h3>
			<p>{{good.gjianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{good.gprice}}</em></span>
				<span class="show_unit">单  位：{{good.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div>

				<div class="num_name fl">&nbsp; &nbsp; &nbsp;&nbsp;库存 量：</div>
				<div class="num_add fl">
					<input type="" class="num_show1 fl" id="kucun" value="{{good.gkucun}}" readonly="readonly">
				</div>

			</div>
			<div class="total">总价：<em>{{good.gprice}}</em>元</div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>
{%endblock detail2%}

		{%block detail1%}
		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{good.gcontent|safe}} </dd>
				</dl>
			</div>

		</div>

        <div class="add_jump"></div>
		<div style="display: none"></div>
        <script type="text/javascript">
            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;

            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;

            $('.add_cart').click(function(){
                 if ($('.login_btn > a').length == 2){
                            location.href = '/login/'
                            return;
                        }
                $.get('/cart/add{{good.id}}_'+$(".num_show").val()+'_1',function (data) {

                    $('#show_count').html(data.data);
                    if (data.isok){
                        $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
                        $(".add_jump").stop().animate({
                        'left': $to_y+7,
                        'top': $to_x+7},
                        "fast", function() {
                            $(".add_jump").fadeOut('fast');
                        });
                    }else {
                        alert('库存不足')
                    }

                });

            });
        </script>



		{%endblock detail1%}


