{% extends "df_goods/base.html"%}

		{%block detail1%}
		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{typeinfo.id}}_1_1/"
				   {%if sort == 1%}
				   class="active"
				   {%endif%}
				>默认</a>
				<a href="/list{{typeinfo.id}}_1_2/"
				   {%if sort == 2%}
				   class="active"
				   {%endif%}
				>价格</a>
				<a href="/list{{typeinfo.id}}_1_3/"
				   {%if sort == 3%}
				   class="active"
				   {%endif%}
				>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%for good in page_list%}
				<li>
					<a href="/detail{{good.id}}/"><img src="/static/{{good.gpic}}"></a>
					<h4><a href="detail.html">{{good.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{good.gprice}}</span>
						<span class="unit">{{good.gprice}}/{{good.gunit}}</span>
						<!--<a href="/cart/add{{good.id}}_1_1" class="add_goods" title="加入购物车"></a>-->
						<a href="javascript:;" class="add_goods" title="加入购物车"></a>
                        <em class="id" style="display: none">{{good.id}}</em>
					</div>
				</li>
				{%endfor%}
			</ul>


			<div class="pagenation">


				<a
						{%if page_list.has_previous%}
						style="background-color: #3399ff"
						href="/list{{typeinfo.id}}_{{page_list.number|add:-1}}_{{sort}}/"
						{%endif%}
				><上一页</a>

				{%for page_num in paginator.page_range%}
				<a href="/list{{typeinfo.id}}_{{page_num}}_{{sort}}/"
					{%if page_list.number == page_num%}
				   style="border-color: red"
				   class="active"
				   {%endif%}
				>{{page_num}}</a>
				{%endfor%}


				<a
						{%if page_list.has_next%}
						style="background-color: #3399ff"
						href="/list{{typeinfo.id}}_{{page_list.number|add:1}}_{{sort}}/"
						{%endif%}
				>下一页></a>

			</div>
		</div>

        {%if request.session.uname|default:'' != ''%}
        <div class="add_jump"></div>
        <script>
            $(function () {


//               ajax请求函数
                function ajax_num(n) {
                        var good_id = n.siblings('.id').text()
                        $.get('/cart/add'+good_id+'_1_1',function (data) {
                            $('#show_count').html(data.data);
                        })
                    }

//                  点击触发动画函数
                $('.add_goods').click(function(){
                    var n = $(this)

                    var $add_x = $(this).offset().top;
                    var $add_y = $(this).offset().left;

                    var $to_x = $('#show_count').offset().top;
                    var $to_y = $('#show_count').offset().left;

                    $(".add_jump").css({'left':$add_y,'top':$add_x,'display':'block'})

                    $(".add_jump").stop().animate({
                        'left': $to_y+7,
                        'top': $to_x+7},
                        "fast", function() {
                            $(".add_jump").fadeOut('fast',function(){
//                                  动画结束后发送ajax请求

                                ajax_num(n)

                            });

                    });
                })


            })

        </script>
        {%endif%}
		{%endblock detail1%}


